[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=qml_calendar_proto
Exec=/opt/qml_calendar_proto/bin/qml_calendar_proto
Icon=qml_calendar_proto64
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
