/* 
    Document   : style
    Created on : 27.02.2012, 17:39:17
    Author     : marxma
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/* Any demo specific styling needed for this tutorial only */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#appLayout {
    height: 100%;
}
#leftCol {
    width: 14em;
}

.claro .demoLayout .edgePanel {
    background-color: #d0e9fc;
}

#viewsChart {
	width: 550px;
	height: 550px;
}
