[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=html5app
Exec=/usr/bin/single-instance /opt/html5app/bin/html5app
Icon=/usr/share/icons/hicolor/80x80/apps/html5app80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
