<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<orient-server>
    <network>
        <protocols>
            <protocol name="binary" implementation="com.orientechnologies.orient.server.network.protocol.binary.ONetworkProtocolBinary"/>
            <protocol name="http" implementation="com.orientechnologies.orient.server.network.protocol.http.ONetworkProtocolHttpDb"/>
        </protocols>
        <listeners>
            <listener ip-address="127.0.0.1" port-range="2424-2430" protocol="binary"/>
            <listener ip-address="127.0.0.1" port-range="2480-2490" protocol="http"/>
        </listeners>
    </network>
    <storages>
        <storage name="temp" path="memory:temp" userName="admin" userPassword="admin" loaded-at-startup="true"/>
    </storages>
    <users>
        <user name="root" password="EF098C80CE6E8D8F1BA19A1A46E4AA12425608D44B4E1479D1E6D40E3DF14F9B" resources="*"/>
    </users>
    <properties>
        <entry name="cache.static" value="false"/>
        <entry name="log.level" value="info"/>
    </properties>
</orient-server>
